<div class="flex">
  <div class="mt-6 h-full w-12 flex justify-content-center">
    <p-card styleClass="justify-content-center flex align-items-center">
      <div class="flex flex-column justify-content-center align-items-center">
        <p class="mb-3 flex justify-content-center">Selecione uma data</p>
        <div class="mb-3 flex justify-content-center">
          <p-calendar selectionMode="range" [readonlyInput]="true">
          </p-calendar>
        </div>
        <div>
          <p-button label="Consultar clientes"> </p-button>
        </div>
      </div>
    </p-card>
  </div>
</div>
