<div class="flex p-6 justify-content-center">
  <span class="text-2xl">Consulta de extrato</span>
</div>
<div class="flex justify-content-center">
  <div class="md:w-8 w-10">
    <div class="flex justify-content-center md:justify-content-start mb-4">
      <p-calendar
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        selectionMode="range"
        [readonlyInput]="true"
        [showClear]="true"
      ></p-calendar>
    </div>
    <!-- Utilizar switch quando definirmos melhor as propriedades de uma transacao -->
    @for (item of transactions; track transactions) { @if
    (dateChanged(item.date)) {
    <div class="flex justify-content-between">
      <div>
        <span>Saldo no dia:</span>
      </div>
      <div>
        {{ item.date | date : "dd/MM/yyyy" }}
        <span></span>
      </div>
    </div>
    <hr />
    }
    <div
      class="my-3 p-3 border-round"
      [ngClass]="{ 'bg-blue-100': item.isEntry, 'bg-red-100': !item.isEntry }"
    >
      <div class="flex justify-content-between">
        <div class="text-start">
          <span>
            {{ item.operation }}
            @if (item.operation == 'Transferência' && !item.isEntry){ para
            {{ item.destination }} } @if (item.operation == 'Transferência' &&
            item.isEntry){ de {{ item.origin }} }
          </span>
        </div>
      </div>
      <div class="pt-2">
        @if (item.isEntry) {
        <div>
          <span class="text-green-600">
            {{ item.value | currency : "BRL" }}
          </span>
        </div>
        } @else {
        <div>
          <span class="text-red-600">
            -{{ item.value | currency : "BRL" }}
          </span>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
