<div
  class="surface-card p-4 shadow-2 border-round w-full lg:w-6"
  style="margin: auto"
>
  <div class="d-flex flex-column text-center mb-5 pt-5">
    <h1 class="display-4 m-0">Alteração de Cadastro</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-5">
      <div class="card">
        <div class="card-body">
          <div id="success"></div>
          <form
            [formGroup]="editarUsuarioForm"
            (ngSubmit)="onSubmit()"
            #formDir="ngForm"
          >
            <div class="field">
              <label for="cpf" class="block text-900 font-medium mb-2"
                >CPF</label
              >
              <!--<input 
              id="disabled-input" 
              type="text" 
              pInputText [disabled]="true" 
              [(ngModel)]="valuecpf" 
              />-->
              <span
                id="cpf"
                contenteditable="false"
                class="cpf-placeholder"
                data-validation-required-message="Por favor, digite seu CPF"
              >
                xxx.xxx.xxx-xx
              </span>
            </div>
            <div class="field">
              <label for="nome" class="block text-900 font-medium mb-2"
                >Nome</label
              >
              <input
                type="text"
                pInputText
                type="text"
                id="nome"
                placeholder="Seu nome"
                required
                data-validation-required-message="Por favor, digite seu nome"
              />
            </div>
            <div class="field">
              <label for="email" class="block text-900 font-medium mb-2"
                >E-mail</label
              >
              <input
                type="text"
                pInputText
                type="email"
                id="email"
                placeholder="Seu e-mail"
                data-validation-required-message="Por favor, digite seu email"
              />
              <div class="field">
                <label for="telefone" class="block text-900 font-medium mb-2"
                  >Telefone</label
                >
                <p-inputMask
                  type="text"
                  mask="(99) 99999-9999"
                  id="telefone"
                  placeholder="Seu telefone"
                  data-validation-required-message="Por favor, digite seu telefone"
                />
              </div>
              <div class="field">
                <label for="salario" class="block text-900 font-medium mb-2"
                  >Salário Mensal</label
                >
                <p-inputNumber
                  id="salario"
                  mode="currency"
                  inputId="currency-brazil"
                  currency="BRL"
                  locale="pt-BR"
                >
                </p-inputNumber>
                <div class="field">
                  <label for="tipo" class="block text-900 font-medium mb-2"
                    >Tipo de Logradouro</label
                  >
                  <p-listbox
                    [options]="tiposLogradouro"
                    (onChange)="onTipoLogradouroChange($event)"
                  >
                    <ng-template let-item pTemplate="item">
                      <div class="custom-list-item">
                        <span>{{ item }}</span>
                      </div>
                    </ng-template>
                  </p-listbox>
                </div>
                <div class="field">
                  <label for="cep" class="block text-900 font-medium mb-2"
                    >CEP</label
                  >
                  <p-inputMask
                    type="text"
                    mask="99999-999"
                    id="cep"
                    placeholder="Seu CEP"
                    formControlName="cep"
                    data-validation-required-message="Por favor, digite seu CEP"
                  />
                </div>
                <label for="rua" class="block text-900 font-medium mb-2"
                  >Rua</label
                >
                <input
                  type="text"
                  pInputText
                  placeholder="Rua"
                  class="form-control p-4"
                  formControlName="rua"
                  readonly
                />
                <div class="field">
                  <label for="numero" class="block text-900 font-medium mb-2"
                    >Número</label
                  >
                  <input
                    type="number"
                    pInputText
                    placeholder="Número"
                    id="numero"
                    formControlName="numero"
                  />
                </div>
                <div class="field">
                  <label for="bairro" class="block text-900 font-medium mb-2"
                    >Bairro</label
                  >
                  <input
                    type="text"
                    pInputText
                    placeholder="Bairro"
                    class="form-control p-4"
                    formControlName="bairro"
                    readonly
                  />
                </div>
                <div class="field">
                  <label for="cidade" class="block text-900 font-medium mb-2"
                    >Cidade</label
                  >
                  <input
                    type="text"
                    pInputText
                    placeholder="Cidade"
                    class="form-control p-4"
                    formControlName="cidade"
                    required
                    readonly
                  />
                </div>
                <div class="field">
                  <label for="estado" class="block text-900 font-medium mb-2"
                    >Estado</label
                  >
                  <input
                    type="text"
                    pInputText
                    placeholder="Estado"
                    class="form-control p-4"
                    formControlName="estado"
                    required
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="field">
              <p-buttonGroup>
                <p-button
                  label="Salvar"
                  type="submit"
                  class="p-button-primary"
                  (click)="showSuccessMessage = true"
                  icon="pi pi-check"
                ></p-button>
                <p-button
                  label="Cancelar"
                  class="p-button-secundary"
                  (click)="goBack()"
                  icon="pi pi-times"
                ></p-button>
              </p-buttonGroup>
              <p-messages *ngIf="showSuccessMessage" severity="success">
                <ng-template pTemplate>
                  <i
                    class="pi pi-check"
                    width="32"
                    style="color: slateblue"
                  ></i>
                  <div class="ml-2">Alterações salvas com sucesso.</div>
                </ng-template>
              </p-messages>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
