<div class="bg-gray-800 h-3rem shadow-2">
  <div
    class="navbar-nav mr-auto py-0"
    *ngIf="usuarioLogado?.perfil === 'CLIENTE'"
  >
    <p-button
      label="Autocadastro"
      [outlined]="true"
      (click)="navigateTo('autocadastro')"
    ></p-button>
    <p-button
      label="Login"
      [outlined]="true"
      (click)="navigateTo('login')"
    ></p-button>
    <p-button
      label="Página inicial"
      [outlined]="true"
      (click)="navigateTo('inicio-cliente')"
    ></p-button>
    <p-button
      label="Extrato"
      [outlined]="true"
      (click)="navigateTo('extrato')"
    ></p-button>
    <p-button
      label="Alteração de Perfil"
      [outlined]="true"
      (click)="navigateTo('alteracao-perfil')"
    ></p-button>
    <p-button
      label="Depósito"
      [outlined]="true"
      (click)="navigateTo('deposito')"
    ></p-button>
    <p-button
      label="Saque"
      [outlined]="true"
      (click)="navigateTo('saque')"
    ></p-button>
    <p-button
      label="Transferência"
      [outlined]="true"
      (click)="navigateTo('transferencia')"
    ></p-button>
  </div>
  <div
    class="navbar-nav mr-auto py-0"
    *ngIf="usuarioLogado?.perfil === 'GERENTE'"
  >
    <p-button
      label="Página inicial"
      [outlined]="true"
      (click)="navigateTo('inicio-gerente')"
    ></p-button>
    <p-button
      label="Consulta de todos os clientes"
      [outlined]="true"
      (click)="navigateTo('consulta-todos-clientes')"
    ></p-button>
    <p-button
      label="Consulta de clientes"
      [outlined]="true"
      (click)="navigateTo('consulta-cliente')"
    ></p-button>
    <p-button
      label="Consulta de melhores clientes"
      [outlined]="true"
      (click)="navigateTo('consulta-melhores-clientes')"
    ></p-button>
  </div>
  <div
    class="navbar-nav mr-auto py-0"
    *ngIf="usuarioLogado?.perfil === 'ADMIN'"
  >
    <p-button
      label="Página inicial"
      [outlined]="true"
      (click)="navigateTo('inicio-administrador')"
    ></p-button>
    <p-button
      label="Relatório de clientes"
      [outlined]="true"
      (click)="navigateTo('relatorio-de-clientes')"
    ></p-button>
    <p-button
      label="Área de gerência"
      [outlined]="true"
      (click)="navigateTo('areagerencia')"
    ></p-button>
  </div>
</div>
