<div class="bg-gray-800 h-3rem shadow-2">  
    <div class="navbar-nav mr-auto py-0">
    <p-button label="autocadastro" [outlined]="true" (click)="navigateTo('autocadastro')"></p-button>
    <p-button label="login" [outlined]="true" (click)="navigateTo('login')"></p-button>
    <p-button label="inicio-cliente" [outlined]="true" (click)="navigateTo('inicio-cliente')"></p-button>
    <p-button label="extrato" [outlined]="true" (click)="navigateTo('extrato')"></p-button>
    <p-button label="alteracao-perfil" [outlined]="true" (click)="navigateTo('alteracao-perfil')"></p-button>
  </div>
</div>
