<div
  class="surface-card p-4 shadow-2 border-round w-full lg:w-6"
  style="margin: auto"
>
  <div class="d-flex flex-column text-center mb-5 pt-5">
    <h1 class="display-4 m-0">Cadastro</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-5">
      <div class="card">
        <div class="card-body">
          <div id="success"></div>
          <form
            [formGroup]="novoUsuarioForm"
            (ngSubmit)="onSubmit()"
            #formDir="ngForm"
          >
            <div class="field">
              <label for="cpf" class="block text-900 font-medium mb-2"
                >CPF</label
              >
              <p-inputMask
                formControlName="cpf"
                type="text"
                mask="999.999.999-99"
                id="cpf"
                placeholder="Seu CPF"
                data-validation-required-message="Por favor, digite seu CPF"
              />
            </div>
            <div class="field">
              <label for="nome" class="block text-900 font-medium mb-2"
                >Nome</label
              >
              <input
                type="text"
                formControlName="nome"
                pInputText
                type="text"
                id="nome"
                placeholder="Seu nome"
                required
                data-validation-required-message="Por favor, digite seu nome"
              />
            </div>
            <div class="field">
              <label for="email" class="block text-900 font-medium mb-2"
                >E-mail</label
              >
              <input
                type="text"
                formControlName="email"
                pInputText
                type="email"
                id="email"
                placeholder="Seu e-mail"
                required
                data-validation-required-message="Por favor, digite seu email"
              />
              <div class="field">
                <label for="telefone" class="block text-900 font-medium mb-2"
                  >Telefone</label
                >
                <p-inputMask
                  formControlName="telefone"
                  type="text"
                  mask="(99) 99999-9999"
                  id="telefone"
                  placeholder="Seu Telefone"
                  data-validation-required-message="Por favor, digite seu telefone"
                />
              </div>
              <div class="field">
                <label for="salario" class="block text-900 font-medium mb-2"
                  >Salário Mensal</label
                >
                <p-inputNumber
                  formControlName="salario"
                  id="salario"
                  mode="currency"
                  inputId="currency-brazil"
                  currency="BRL"
                  locale="pt-BR"
                >
                </p-inputNumber>
              </div>

              <div class="field">
                <label for="cep" class="block text-900 font-medium mb-2"
                  >CEP</label
                >
                <p-inputMask
                  type="text"
                  mask="99999-999"
                  id="cep"
                  placeholder="Seu CEP"
                  formControlName="cep"
                  data-validation-required-message="Por favor, digite seu CEP"
                />
                <p
                  *ngIf="cep && cep.invalid && (cep.dirty || cep.touched) && cep.errors?.['required']"
                  class="help-block text-danger"
                >
                  Por favor, preencha seu CEP
                </p>
              </div>
              <div class="block text-900 font-medium mb-2">
                <p-button
                  label="Buscar Endereço"
                  type="submit"
                  class="p-button-primary"
                  (click)="buscaEndereco()"
                ></p-button>
              </div>
              <label for="rua" class="block text-900 font-medium mb-2"
                >Rua</label
              >
              <input
                type="text"
                pInputText
                placeholder="Rua"
                class="form-control p-4"
                formControlName="rua"
                required
                readonly
              />
              <div class="field">
                <label for="numero" class="block text-900 font-medium mb-2"
                  >Número</label
                >
                <input
                  type="number"
                  pInputText
                  placeholder="Número"
                  id="numero"
                  formControlName="numero"
                  required
                />
                <p
                  *ngIf="numero && numero.invalid && (numero.dirty || numero.touched) && numero.errors?.['required']"
                  class="help-block text-danger"
                >
                  Por favor, preencha o número do endereço
                </p>
                <p
                  *ngIf="numero && numero.invalid && (numero.dirty || numero.touched) && numero.errors?.['min']"
                  class="help-block text-danger"
                >
                  Por favor, preencha um número positivo
                </p>
              </div>
              <div class="field">
                <label for="bairro" class="block text-900 font-medium mb-2"
                  >Bairro</label
                >
                <input
                  type="text"
                  pInputText
                  placeholder="Bairro"
                  class="form-control p-4"
                  formControlName="bairro"
                  required
                  readonly
                />
              </div>
              <div class="field">
                <label for="cidade" class="block text-900 font-medium mb-2"
                  >Cidade</label
                >
                <input
                  type="text"
                  pInputText
                  placeholder="Cidade"
                  class="form-control p-4"
                  formControlName="cidade"
                  required
                  readonly
                />
              </div>
              <div class="field">
                <label for="estado" class="block text-900 font-medium mb-2"
                  >Estado</label
                >
                <input
                  type="text"
                  pInputText
                  placeholder="Estado"
                  class="form-control p-4"
                  formControlName="estado"
                  required
                  readonly
                />
              </div>
            </div>
            <div class="block text-900 font-medium mb-2">
              <p-button
                label="Limpar"
                class="p-button-primary"
                type="submit"
                (click)="limparForm()"
              >
              </p-button>
            </div>
            <div class="field">
              <p-button
                [disabled]="this.novoUsuarioForm.invalid"
                label="Cadastrar"
                type="submit"
                class="p-button-primary"
              ></p-button>
              <p-messages *ngIf="showSuccessMessage" severity="success">
                <ng-template pTemplate>
                  <i
                    class="pi pi-check"
                    width="32"
                    style="color: slateblue"
                  ></i>
                  <div class="ml-2">Cadastro realizado com sucesso.</div>
                </ng-template>
              </p-messages>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
